body {
  margin: 0;
  height: 100vh;
  width: 100vw; }

.object {
  padding: 10em;
  width: 10em;
  height: 10em;
  position: absolute;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .object:hover {
    background-color: pink; }

#scene {
  position: absolute;
  top: 50%;
  margin-top: -15em;
  left: -60em; }

#scene1 {
  position: absolute;
  left: 50%;
  margin-left: -15em;
  top: -60em; }

#scene2 {
  position: absolute;
  left: 50%;
  margin-left: -15em;
  bottom: -60em; }

#scene3 {
  position: absolute;
  top: 50%;
  margin-top: -15em;
  right: -60em; }

.top {
  background-color: lightblue; }

.right {
  background-color: green; }

.bottom {
  background-color: red; }

.left {
  background-color: blue; }
